<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_postdispatch_adminhtml_system_config_save">
        <observer name="auto_flush_cache_system_config_save" 
            instance="Magepow\AutoFlushCache\Observer\FlushCache"/>
    </event>
    <event name="cms_page_prepare_save">
        <observer name="auto_flush_cache_cms_page_prepare_save" 
            instance="Magepow\AutoFlushCache\Observer\FlushCache"/>
    </event>
    <event name="controller_action_catalog_product_save_entity_after">
        <observer name="auto_flush_product_save_entity_after" 
            instance="Magepow\AutoFlushCache\Observer\FlushCache"/>
    </event>
    <event name="catalog_category_prepare_save">
        <observer name="auto_flush_category_prepare_save" 
            instance="Magepow\AutoFlushCache\Observer\FlushCache"/>
    </event>
</config> 